{{message}}
{{error}}
<div class="container auth">
  <div class="jumbotron">
    <form>
      <h3>Change Password</h3>
      <div class="form-group">
        <label>Old Password</label>
        <input type="password" class="form-control" placeholder="Old Password" ng-model="oldPassword">
      </div>
      <div class="form-group">
        <label>New Password</label>
        <input type="password" class="form-control" placeholder="New Password" ng-model="newPassword">
      </div>
      <button class="btn btn-primary" type="submit" ng-click="changePassword()">Change Password</button>
      <button class="btn btn-primary" type="submit" ng-click="logOut()">Log Out</button>
    </form>
  </div>
</div>
